TrafficRulesTrainer/Connected Services/ServiceReference1/Service134.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51834/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfQuestionForm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuestionForm" nillable="true" type="tns:QuestionForm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestionForm" nillable="true" type="tns:ArrayOfQuestionForm" />
  <xs:complexType name="QuestionForm">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerExplanation" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AnswerVariants" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionID" type="xs:int" />
      <xs:element minOccurs="0" name="QuestionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RightAnswerNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedVariant" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionForm" nillable="true" type="tns:QuestionForm" />
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permission" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="TestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Всего" type="xs:int" />
      <xs:element minOccurs="0" name="Дата" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Имя" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Номер" type="xs:int" />
      <xs:element minOccurs="0" name="Отчество" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Правильных" type="xs:int" />
      <xs:element minOccurs="0" name="Фамилия" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestResult" nillable="true" type="tns:TestResult" />
  <xs:complexType name="ArrayOfTestResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestResult" nillable="true" type="tns:TestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestResult" nillable="true" type="tns:ArrayOfTestResult" />
</xs:schema>