TrafficRulesTrainer/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51834/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51834/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51834/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51834/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
      <xsd:import schemaLocation="http://localhost:51834/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CreateQuestionForm_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuestionForm" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateQuestionForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateQuestionFormResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTestQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestQuestions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTestQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DownloadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadImage" />
  </wsdl:message>
  <wsdl:message name="IService1_DownloadImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExistsUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistsUserName" />
  </wsdl:message>
  <wsdl:message name="IService1_ExistsUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistsUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IService1_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TestCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:TestCompleted" />
  </wsdl:message>
  <wsdl:message name="IService1_TestCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CreateQuestionForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateQuestionForm" message="tns:IService1_CreateQuestionForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateQuestionFormResponse" message="tns:IService1_CreateQuestionForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTestQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTestQuestions" message="tns:IService1_GetTestQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTestQuestionsResponse" message="tns:IService1_GetTestQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadImage" message="tns:IService1_UploadImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadImageResponse" message="tns:IService1_UploadImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DownloadImage" message="tns:IService1_DownloadImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DownloadImageResponse" message="tns:IService1_DownloadImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistsUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExistsUserName" message="tns:IService1_ExistsUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExistsUserNameResponse" message="tns:IService1_ExistsUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registration" message="tns:IService1_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrationResponse" message="tns:IService1_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TestCompleted" message="tns:IService1_TestCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TestCompletedResponse" message="tns:IService1_TestCompleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHistory" message="tns:IService1_GetHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHistoryResponse" message="tns:IService1_GetHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateQuestionForm">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateQuestionForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestQuestions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTestQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadImage">
      <soap:operation soapAction="http://tempuri.org/IService1/DownloadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistsUserName">
      <soap:operation soapAction="http://tempuri.org/IService1/ExistsUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IService1/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestCompleted">
      <soap:operation soapAction="http://tempuri.org/IService1/TestCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51834/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>